<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.akshay.atlysaccounting">

  <application>
    <activity
      android:name="com.akshay.atlysaccounting.HiltTestActivity"
      android:exported="false"  />
  </application>

</manifest>
